* {
      margin: 0;
      padding: 0;
    }
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: #282b29;
    color:white;
    height: 100px;
    /*para alinean el texto al centro necesitamos el display flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    
}
main{
    display: flex;
    height:30rem;
    background-color:rgb(131, 149, 158);
    border:1px solid black;
}
main img{
    border-radius: 30%;
}
section{
    margin-top:20px;
    border:1px solid black;
}
article{
    margin-top:10px;
    border-top:1px solid black;
}

aside{
    background-color: rgb(131, 149, 158);
    border:1px solid black;
    margin-left:auto;
}
aside table{
    font-size: 25px;
    border-collapse: collapse;
}
aside table td{
    border:1px solid black;
    padding:3px;
}
footer{
    height:"20px";
    background-color: #282b29;
    color:white;
}
footer nav{
    padding:5px;
}
